.custom-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    width: 100%;
    span {
        font-size: 1.8em;
        color: #000;
        font-weight: bolder;
    }
}