.container-field-error {
    display: flex;
    width: 88%;
    height: 100%;
    padding: 10px;
    color: #fff;
    background-color: red;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}