body, #root, .form-upload {
    // background-color: #3ec3fd;
    background-color: #3dbcd0;
}
body {
    margin: 0;
}

.image-bg {
    width: 100%;
    height: 196px;
    object-fit: unset;
}
.container-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    font-family: 'Roboto', sans-serif;
}